.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #EDE5F3;
}

.navbar {
  background: #EDE5F3;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.navbar h1{
  font-size: 32px;
}

.navbar .navbar-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar-list li {
  margin-right: 40px;
}

.navbar input[type="text"] {
  height: 25px;
  font-size: 15px;
  border-radius: 3px;
}

.navbar button[type="submit"] {
  height: 30px;
  width: 80px;
  background-color: #f9992d;
  border: none;
  font-size: 15px;
  color: white;
}

/* login form */
.login{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.login h2{
  text-align: center;
  font-size: 34px;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.login-form input{
  width: 300px;
  padding: 10px;
  font-size: 15px;
  margin: 10px 0;
}

.login-form button{
  padding: 10px;
  margin: 10px 0;
  background-color: #282c34;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.login-form small{
  color: red;
  font-size: 15px;
  text-align: center;
}

/* search form */
#search-input {
  width: 90%;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  padding: 12px;
  outline: 0;
  background-color: #f5f5f5;
  margin: 10px;
}

/* card section */
.card-container{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  
}

.card{
  border-radius: 10px;
  background: white;
  margin: 10px;
  padding: 25px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.card div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card img{
  height: 200px;
  width: 200px;
}
.card h2{
  height: 55px;
  border-bottom: 1px solid black;
  width: 400px;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
}
.card p{
  width: 400px;
  height: 200px;
  text-align: left;
  line-height: 20px;
}

/* footer */
.footer {
  background: #EDE5F3;
  padding: 10px;
  text-align: center;
  justify-content: center;
  color: black;
  position: sticky;
  margin-bottom: 0;
}
